<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.scout.service.services">
       <service
            factory="org.eclipse.scout.service.DefaultServiceFactory"
            class="de.hsrm.mi.user.shared.services.common.text.UserTextProviderService">
      </service>
   </extension>
   
</plugin>