<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IFileService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.ITikaService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IFiletypeChooserService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IFileFormatService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IFiletypeService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IMetadataService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IPasswordProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IRoleProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.ISharedContextService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IStorageService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.ITagService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IUserProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IVersionService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IImageProcessService">
      </proxy>
      <service
            createImmediately="false"
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            class="de.hsrm.thesis.filemanagement.client.services.CustomIconProviderService">
      </service>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.lookup.ITagLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.lookup.IFiletypeLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.lookup.IRoleLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.lookup.IUserLookupService">
      </proxy>
      <service
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            class="de.hsrm.thesis.filemanagement.client.services.ClientFileService">
      </service>
   </extension>

</plugin>
