<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.scout.service.services">
         <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IFileService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.ITikaService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.filemanagement.shared.services.IFiletypeChooserService">
      </proxy>
   </extension>
</plugin>