<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.DBStorageService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.FileFormatService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.TagService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.MetadataService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.VersionService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.FiletypeService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.PasswordProcessService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.lookup.FiletypeLookupService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.lookup.RoleLookupService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.lookup.UserLookupService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.lookup.TagLookupService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.UserDefinedAttributesService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.AttributeService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.FileService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.RoleProcessService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.UserProcessService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.RolePermissionService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.AssignToRoleService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.mi.storage.database.derby.server.services.FolderService">
      </service>
   </extension>

</plugin>
