<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.rt.extension.client.menus">
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.rt.extension.client.desktopExtensions">
      <desktopExtension
            class="de.hsrm.perfunctio.administration.client.extension.FileAdminDesktopExtension"
            active="true">
      </desktopExtension>
   </extension>

</plugin>
