<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.service.DefaultServiceFactory"
            class="de.hsrm.perfunctio.administration.shared.services.common.text.FileAdminTextProviderService">
      </service>
   </extension>

</plugin>
