<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.services.process.IUserProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.services.process.IPasswordProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.services.process.INotificationProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.IIconProcessService">
      </proxy>
      <service
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            class="de.hsrm.thesis.bachelor.client.services.BahBahNotificationConsumerService"
            session="de.hsrm.thesis.bachelor.client.ClientSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            class="de.hsrm.thesis.bachelor.client.services.BuddyIconProviderService"
            session="de.hsrm.thesis.bachelor.client.ClientSession">
      </service>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.services.IOCRProcessService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.IFileFormat0Service">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.ITagService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.IMetadataService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.IVersionService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.services.IFiletypeService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.IFileService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="de.hsrm.thesis.bachelor.shared.services.lookup.IFiletypeLookupService">
      </proxy>
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.service.services">
   </extension>

</plugin>
