<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.perfunctio.core.server.services.TikaService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.perfunctio.core.server.services.ImageProcessService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.perfunctio.core.server.services.StartupService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.perfunctio.core.server.services.common.security.FilemanagementPermissionService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.perfunctio.core.server.services.lookup.LanguageLookupService">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="de.hsrm.perfunctio.core.server.services.lookup.PermissionsLookupService">
      </service>
   </extension>

</plugin>
